.orange-heading{
    font-size: 22px;
}

p{
    font-size: 18px;
}

/*ul > li{
    font-size: 18px;
}*/

h3{
    font-size: 20px;
}

h2{
    font-size: 22px;
}

div[style*="margin-left: 40px"]{
    font-size: 18px;
}

/*span{
    font-size: 18px;
}*/

/*td > div{
    font-size: 18px;
}*/

