.feedback h2{
    font-size: 22px;
}

.comment-box{
    margin-bottom: 35px;
}

.avatar-box{
    width: 56px;
    height: 56px;
    background: #f7f7eb;
    padding: 3px;
    box-shadow: 1px 1px 1px #00000073;
}

.name-and-comment{
    background: #f7f7eb;
    margin-left: 10px;
    border-radius: 3px;
    padding: 6px;
    width: 60%;
    box-shadow: 1px 1px 1px #00000073;
}

.name-and-comment div:first-child p{
    font-weight: bold;
    font-size: 130%;
    margin-bottom: 0;
}

.name-and-comment div:first-child span{
    color: #a4a4a4;
    font-size: 12px;
}

.comment p{
    font-size: 130%;
}

