.handbook img{
    width: 100%;
}

.handbook ul{
    list-style-type: none;
    padding: 0;
}

.handbook ul a strong{
    background: #5e48cd;
    border-radius: 10px;
    color: #fff;
    float: left;
    font-size: 13px;
    font-weight: normal;
    height: 18px;
    padding-top: 1px;
    box-sizing: border-box;
    margin-top: 3px;
    text-align: center;
    width: 18px;
    line-height: 17px;
}

.handbook li span{
    margin-left: 30px;
    display: block;
}
