/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 14, 2021, 8:54:06 AM
    Author     : cuaca
*/

/*.item-name a{
    color: #0066c0;
    font-size:18px;
    font-weight: normal;
    font-family: Arial;
}*/

