.john-axe{
    display: flex;
    margin-bottom: 15px;
}

.info{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info a{
    display: block;
}

.info a:first-child{
    font-weight: bold;
}

.info a:nth-child(2){
    font-style: italic;
    font-size: 11px;
}

.info p{
    font-size: 12px;
    margin-bottom: 0;
}

