.product-info h2{
    margin: 0;
}

.product-info img{
    width: 100%
}

.price .old{
    text-decoration: line-through;
}

.price .red-title{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #a80006;
}

.product-info .btn-warning{
    color: #111;
}

.product-info .btn-warning:hover{
    color: #fff;
}
