.product-container{
    text-align: center;
    margin-bottom: 35px;
    position: relative;
}

.image-box{
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.flag-best-seller{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff6300;
    color: #fff;
    padding: 0 10px 0 10px;
}

.product-img{
    width: 190px;
    max-width: 100%;
}

.item-name{
    margin: 10px 0 5px 0;
    max-width: 100%;
}

.item-name a:hover{
    color: #c45500;
}

.item-name p{
    font-size: 13px;
}

.item-price{
    margin-top: 10px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.item-price .new{
    font-size: 21px;
    font-weight: bold;
    color: #111;
    line-height: 21px;
}

.item-price .currency{
    font-size: 11px;
}

.item-price .old{
    text-decoration: line-through;
    color: #555;
    line-height: 1.25;
    font-size:15px;
    padding-left: 10px;
}

.item-order .btn-warning{
    color: #111;
}

.item-order .btn-warning:hover{
    color: #fff;
}

