.nav-header{
    background: #ff6419;
}

.navbar-default .navbar-nav > li > a{
    font-size: 160%;
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: white transparent;
}

.footer{
    background-color: #edeff1;
    color: #fff;
    text-align: center;
}

.footer .upper-border{
    background-color: #ff6419;
    color: #fff;
    padding: 27px 0 12px 0;
}

.footer .content{
    text-align: left;
    padding-top: 20px;
}

.footer .content .menu{
    font-weight: bold;
    color: #ff8c00;
    font-size: 21px;
    margin: 0;
    padding: 6px 0;
}

.footer ul li{
    margin: 0;
    padding: 2px 0;
    text-indent: 0;
    color: #333;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}

.footer-menu ul{
    padding-left: 0;
}

.footer-menu .item{
    list-style: none;
}

.footer .menu-contact{
    padding: 0 0 0 20px;
}

.footer .callnow{
    bottom: 10px;
    display: block;
    left: 5px;
    position: fixed;
    z-index: 1001;
    padding: 2px 8px 2px 8px;
    border-radius: 10px;
    background-color: #ff8c00;
}

.footer .callnow a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.support-icon-right{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 9;
    overflow: hidden;
}

.dmca{
    text-align: center;
}

.content{
    border: 1px solid #EDEFF1;
    padding: 25px 10px 10px;
}

.line{
    height: 1px;
    background-color: #eee;
    margin: 20px 0 20px 0;
}

.upper-banner{
    background: #ff6300;
}

.upper-banner h1{
    color: #fff;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    padding: 10px 14px 13px;
}

.blue-link{
    color: #0066c0;
    font-size:18px;
    font-weight: normal;
    font-family: Arial;
}

.green-link{
    color: #4bad6c;
    margin-bottom: 10px;
    font-size: 20px;
}

.green-link:hover{
    color: #4bad6c;
}

.black-title{
    color: #333;
    font-size:18px;
}

.black-title-22{
    color: #333;
    font-size:22px;
}

.black-title-20{
    color: #333;
    font-size:20px;
    margin: 0 0 0 0;
}

.title-banner{
    background: #ff6300;
    padding: 10px 10px 10px;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}

.title-banner h1{
    font-size: 24px;
    margin: 0;
}

.right-menu{
    padding-top: 15px;
}

.flex-box{
    display: flex;
}

.product-banner{
/*    display: flex;
    justify-content: space-around;*/
}