.tag-box{
    margin: 15px 0 10px 0;
    overflow: hidden;
    padding: 0 10px;
    clear: both;
}

.tag-box span{
    color: #00918d;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 5px;
    margin-right: 1px;
    padding: 0 7px !important;
}

.tag-box a{
    background: #f1f1f1 none repeat scroll 0 0;
    color: #6d6d6d;
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 5px;
    margin-right: 1px;
    padding: 0 9px !important;
    outline: none;
    text-decoration: none;
}

.tag-box a:hover{
    color: #ffffff;
    background: #00918d;
}

